<section class="component-container">
    <section class="title">
        <h2 data-aos-delay="200" data-aos="fade-right" data-aos-duration="1000" >We Take Pride In Our Numbers</h2>
    </section>
    <section class="stats-container">
        <section class="block one">
            <div class="number" data-aos-delay="200" data-aos="fade-in" data-aos-duration="2000" >15</div>
            <div class="caption" data-aos-delay="200" data-aos="fade-up" data-aos-duration="1000" >Years of Experience</div>
            <hr data-aos-delay="400" data-aos="fade-right" data-aos-duration="1000" >
        </section>
        <section class="block two">
            <div class="number" data-aos-delay="200" data-aos="fade-in" data-aos-duration="2000" >10K</div>
            <div class="caption" data-aos-delay="200" data-aos="fade-up" data-aos-duration="1000" >Business Partners</div>
            <hr data-aos-delay="200" data-aos="fade-right" data-aos-duration="1000" >
        </section>
        <section class="block three">
            <div class="number">25M</div>
            <div class="caption">Products Installed</div>
            <hr>
        </section>
        <section class="block four">
            <div class="number">22</div>
            <div class="caption">Countries World Wide</div>
            <hr>
        </section>
        <section class="block five">
            <div class="number">5</div>
            <div class="caption">Industry Awards</div>
            <hr>
        </section>
    </section>
    <section class="waves-bg"></section>
</section>
