.bg-container {
    width: 100%;
    background: #0e0e0e;
    //background: linear-gradient(181deg, #141815, #0f1614);
    // background-size: 400% 400%;

    // -webkit-animation: AnimationName 42s ease infinite;
    // -moz-animation: AnimationName 42s ease infinite;
    // animation: AnimationName 42s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@keyframes AnimationName {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
app-about {
    text-align: center;
}
app-about2 {
    display: flex;
    justify-content: center;
    align-items: center;
}