<section class="about-container">
    <section class="image-text-block">
        <section class="image-text-container">
            <h2 data-aos-delay="200" data-aos="fade-right" data-aos-duration="1000"  class="title">
                Let Your Data Take Your Business to Higher Grounds
            </h2>
            <p data-aos-delay="200" data-aos="fade-left" data-aos-duration="1000" >
                I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click "Edit Text" or double click me to add your own content and make changes to the font. 
            </p>
        </section>
        <section class="block-container">
            <section class="two-block-container first">
                <section class="block-1">
                    <section class="icon">
                        <mat-icon data-aos-delay="200" data-aos="fade-right" data-aos-duration="1000">cloud_done</mat-icon>
                    </section>
                    <h2 data-aos-delay="200" data-aos="fade-right" data-aos-duration="1000" class="title">Cloud Analytics Modernization</h2>
                    <p data-aos-delay="200" data-aos="fade-right" data-aos-duration="1000">I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
                    <hr>
                </section>
                <section class="block-2">
                    <section class="icon">
                        <mat-icon data-aos-delay="200" data-aos="fade-right" data-aos-duration="1000">cloud_done</mat-icon>
                    </section>
                    <h2 data-aos-delay="200" data-aos="fade-right" data-aos-duration="1000" class="title">Cloud Analytics Modernization</h2>
                    <p data-aos-delay="200" data-aos="fade-right" data-aos-duration="1000">I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
                    <hr>
                </section>
            </section>
            <section class="two-block-container second">
                <section class="block-1">
                    <section class="icon">
                        <mat-icon data-aos-delay="200" data-aos="fade-left" data-aos-duration="1000">cloud_done</mat-icon>
                    </section>
                    <h2 data-aos-delay="200" data-aos="fade-left" class="title">Cloud Analytics Modernization</h2>
                    <p data-aos-delay="200" data-aos="fade-left" >I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
                    <hr>
                </section>
                <section class="block-2">
                    <section class="icon">
                        <mat-icon data-aos-delay="200" data-aos="fade-left" >cloud_done</mat-icon>
                    </section>
                    <h2 data-aos-delay="200" data-aos="fade-left" class="title">Cloud Analytics Modernization</h2>
                    <p data-aos-delay="200" data-aos="fade-left" >I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
                    <hr>
                </section>
            </section>            
        </section>
    </section>
</section>
